body {
    background-color: #FFFFFF;
}

.social-header {
    background-color: rgb(224,224,224);
    height: 55px;
    padding-left: 0px;
    padding-right: 0px;
}

.copyright {
    background-color: #000;
}
