<div class="col-sm-4 sidebar">
  <div class="widget">
    <h4 class="widget-title">广告</h4>
    
  </div>
  <div class="widget">
    <h4 class="widget-title">关注我们</h4>
    {% if ACFUN %}
    <div class="social-counter-item">
      <a target="_blank" href="{{ACFUN}}">
        <i class="fa fa-facebook"></i>
        <span class="counter">{{ACFUN_FOLLERS}}</span>
        <span class="counter-text">粉丝</span>
      </a>
    </div>
    {% endif %}
    {% if BILIBILI %}
    <div class="social-counter-item">
      <a target="_blank" href="{{BILIBILI}}">
        <i class="fa fa-twitter"></i>
        <span class="counter">145</span>
        <span class="counter-text">粉丝</span>
      </a>
    </div>
    {% endif %}
    {% if WEIBO %}
    <div class="social-counter-item">
      <a target="_blank" href="{{WEIBO}}">
        <i class="fa fa-weibo"></i>
        <span class="counter">241</span>
        <span class="counter-text">粉丝</span>
      </a>
    </div>
    {% endif %}
    <div class="social-counter-item last subscribe">
      <a href="#" data-toggle="modal" data-target="#subscrib-modal">
        <i class="fa fa-envelope"></i>
        <span class="counter">{{SUBSCRIPTIONS}}</span>
        <span class="counter-text">订阅</span>
      </a>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="subscrib-modal" tabindex="-1" role="dialog" aria-labelledby="subscrib-modal-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title" id="subscrib-modal-label">马上订阅我们的内容吧</h4>
            </div>
            <div class="modal-body">
              <form action="//kenmlai.us11.list-manage.com/subscribe/post?u=5a388501bf697929b1cd3d70c&amp;id=371378ff73" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                  <div class="indicates-required"><span class="asterisk">*</span> 必填</div>
                  <div class="mc-field-group">
                    <label for="mce-EMAIL">邮件地址  <span class="asterisk">*</span>
                  </label>
                    <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
                  </div>
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5a388501bf697929b1cd3d70c_371378ff73" tabindex="-1" value=""></div>
                  <div class="clear">
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary">
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!--End mc_embed_signup-->
        </div>
      </div>
    </div>
  </div>
  
  <div class="widget">
    <h4 class="widget-title">热门分类</h4>
    <div class="textwidget">
      <div id="fb-root"></div>
      
      
    </div>
  </div>

  <div class="widget">
    <h4 class="widget-title">关于水星计划</h4>
    <div class="textwidget">
      <p>水星计划由一群爱好者自发成立的搬运&翻译团队。成员来自于世界各地，有着各种不同的兴趣爱好。但我们同样的愿望就是希望能够将更多有意义的视频和大家一起分享。</p>
      <p>水星计划是希望通过自身的努力，让更多的人跨过语言障碍看到更多有意义的视频。</p>
    </div>
  </div>
  <div class="widget">
    <h4 class="widget-title">最多参与</h4>
    <div class="row">
      {% for article in (articles|rejectattr('blog')|sort(attribute='engagedstring', reverse=True))[:8] %}
      <div style="height: 188px;" class="col-xs-6 item responsive-height post type-post">
        <a title="{{article.title}}" href="{{article.url}}">
        <img src="{{article.cover}}" class="img-responsive wp-post-image" alt="{{article.title}}" width="165" height="108"></a>
        <div class="post-header">
          <h3><a title="{{article.title}}" href="{{article.url}}">{{article.title}}</a></h3>
          <span class="post-meta">
            <i class="fa fa-clock-o"></i> {{article.date|relative_time}}
          </span>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
