<div class="col-sm-4 sidebar">
        <div class="widget mars-loginform-widget"><h4 class="widget-title">Profile</h4><div class="alert alert-danger" style="display:none;"></div>
        <form name="vt_loginform" id="vt_loginform" action="http://videotube.marstheme.com/wp-login.php" method="post">
            
            <p class="login-username">
                <label for="user_login">Username</label>
                <input name="log" id="user_login" class="input form-control" value="" size="20" type="text">
            </p>
            <p class="login-password">
                <label for="user_pass">Password</label>
                <input name="pwd" id="user_pass" class="input form-control" value="" size="20" type="password">
            </p>
            <a href="http://videotube.marstheme.com/wp-login.php?action=lostpassword&amp;redirect_to=http://videotube.marstheme.com">Lost Password?</a>
            <p class="login-remember"><label><input name="rememberme" id="rememberme" value="forever" type="checkbox"> Remember Me</label></p>
            <p class="login-submit">
                <input name="wp-submit" id="wp-submit" class="button-primary btn btn-default" value="Log In" type="submit">
                <input name="redirect_to" value="http://videotube.marstheme.com" type="hidden">
            </p>
            
                <input name="action" value="vt_ajax_login" type="hidden">
                <input name="button_label" value="Log In" type="hidden">
            
        </form></div><div class="widget mars-subscribox-widget"><h4 class="widget-title">Social Subscribox</h4>                 <div class="social-counter-item">
                        <a target="_blank" href="#">
                            <i class="fa fa-facebook"></i>
                            <span class="counter">129</span>
                            <span class="counter-text">Fans</span>
                        </a>
                    </div>
                                    <div class="social-counter-item">
                        <a target="_blank" href="#">
                            <i class="fa fa-twitter"></i>
                            <span class="counter">145</span>
                            <span class="counter-text">Followers</span>
                        </a>
                    </div>
                                    <div class="social-counter-item">
                        <a target="_blank" href="#">
                            <i class="fa fa-google-plus"></i>
                            <span class="counter">241</span>
                            <span class="counter-text">Fans</span>
                        </a>
                    </div>
                                    <div class="social-counter-item last subscribe">
                <a href="#" data-toggle="modal" data-target="#subscrib-modal">
                    <i class="fa fa-rss"></i>
                    <span class="counter">2</span>
                    <span class="counter-text">Subscribers</span>
                </a>
            </div>
        
            <!-- Modal -->
            <div class="modal fade" id="subscrib-modal" tabindex="-1" role="dialog" aria-labelledby="subscrib-modal-label" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="subscrib-modal-label">Subscribe</h4>
                  </div>
                  <div class="modal-body">
                    <form method="post" role="form" action="" name="mars-subscribe-form" id="mars-subscribe-form">
                      <div class="form-group name">
                        <label for="name">Your Name</label>
                        <input class="form-control" id="name" type="text">
                      </div>
                      <div class="form-group email">
                        <label for="email">Your Email Address</label>
                        <input class="form-control" id="email" type="email">
                      </div>
                      <div class="checkbox">
                        <label>
                          <input name="agree" id="agree" type="checkbox"> <a href="http://videotube.marstheme.com/">User Agreement &amp; Privacy Policy</a>
                        </label>
                      </div>
                      <input id="mars_subscrib" name="mars_subscrib" value="ebbd4a9cb7" type="hidden"><input name="_wp_http_referer" value="/" type="hidden">                     <button type="submit" class="btn btn-primary">Register</button>
                      <input name="submit-label" value="Register" type="hidden">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <input name="referer" id="referer" value="28" type="hidden">
                    </form>
                  </div>
                </div>
              </div>
            </div>
           
        </div><div class="widget widget_text"><h4 class="widget-title">About VideoTube</h4>         <div class="textwidget"><p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean which is great.</p>
<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences.</p>
</div>
        </div><div class="widget mars-posts-sidebar-widget"><h4 class="widget-title">Lastest Posts</h4>                     <div class="row">
                                                <div style="height: 188px;" id="post-right-mars-posts-sidebar-widget-2-2751" class="col-xs-6 item responsive-height post-2751 post type-post status-publish format-standard has-post-thumbnail hentry category-food tag-pumpkins tag-decorative">
                    <a title="Decorative Pumpkins: Which one?" href="http://videotube.marstheme.com/decorative-pumpkins-which-one/"><img src="http://videotube.marstheme.com/wp-content/uploads/2015/02/picjumbo.com_HNCK2326-165x108.jpg" class="img-responsive wp-post-image" alt="picjumbo.com_HNCK2326" width="165" height="108"></a>                    <div class="post-header">                              
                        <h3><a title="Decorative Pumpkins: Which one?" href="http://videotube.marstheme.com/decorative-pumpkins-which-one/">Decorative Pumpkins: Which one?</a></h3>
                        <span class="post-meta">
                            <i class="fa fa-clock-o"></i> February 12 ,2015                     </span>                     
                    </div>
                </div>
                                                <div style="height: 188px;" id="post-right-mars-posts-sidebar-widget-2-2748" class="col-xs-6 item responsive-height post-2748 post type-post status-publish format-standard has-post-thumbnail hentry category-food tag-little-kid tag-lake tag-usa">
                    <a title="Little Kid in Lake in the USA" href="http://videotube.marstheme.com/little-kid-lake-usa/"><img src="http://videotube.marstheme.com/wp-content/uploads/2015/02/picjumbo-165x108.png" class="img-responsive wp-post-image" alt="picjumbo" width="165" height="108"></a>                    <div class="post-header">                            
                        <h3><a title="Little Kid in Lake in the USA" href="http://videotube.marstheme.com/little-kid-lake-usa/">Little Kid in Lake in the USA</a></h3>
                        <span class="post-meta">
                            <i class="fa fa-clock-o"></i> February 12 ,2015                     </span>                     
                    </div>
                </div>
                                                <div style="height: 188px;" id="post-right-mars-posts-sidebar-widget-2-2370" class="col-xs-6 item responsive-height post-2370 post type-post status-publish format-standard has-post-thumbnail hentry category-food tag-party tag-dancing tag-cranberries">
                    <a title="Party At Home Dancing Cranberries" href="http://videotube.marstheme.com/party-at-home-dancing-cranberries/"><img src="http://videotube.marstheme.com/wp-content/uploads/2014/08/picjumbo.com_HNCK2125-165x108.jpg" class="img-responsive wp-post-image" alt="picjumbo.com_HNCK2125" width="165" height="108"></a>                    <div class="post-header">                            
                        <h3><a title="Party At Home Dancing Cranberries" href="http://videotube.marstheme.com/party-at-home-dancing-cranberries/">Party At Home Dancing Cranberries</a></h3>
                        <span class="post-meta">
                            <i class="fa fa-clock-o"></i> August 21 ,2014                       </span>                     
                    </div>
                </div>
                                                <div style="height: 188px;" id="post-right-mars-posts-sidebar-widget-2-2369" class="col-xs-6 item responsive-height post-2369 post type-post status-publish format-standard has-post-thumbnail hentry category-music tag-band tag-live tag-music-3 tag-perfomance">
                    <a title="Watch This Awesome Music Perfomance" href="http://videotube.marstheme.com/watch-this-awesome-music-perfomance-2/"><img src="http://videotube.marstheme.com/wp-content/uploads/2014/03/DeathtoStock_Band10-165x108.jpg" class="img-responsive wp-post-image" alt="DeathtoStock_Band10" width="165" height="108"></a>                    <div class="post-header">                              
                        <h3><a title="Watch This Awesome Music Perfomance" href="http://videotube.marstheme.com/watch-this-awesome-music-perfomance-2/">Watch This Awesome Music Perfomance</a></h3>
                        <span class="post-meta">
                            <i class="fa fa-clock-o"></i> August 21 ,2014                       </span>                     
                    </div>
                </div>
                            </div>
                    </div><div class="widget mars-videos-sidebar-widget"><h4 class="widget-title">Most Liked videos</h4>                        <div class="row">
                                                <div style="height: 159px;" class="col-xs-6 item responsive-height mars-videos-sidebar-widget-2-2132">
                    <div class="item-img">
                    <a title="HD Music Nexus Playlist" href="http://videotube.marstheme.com/video/hd-music-nexus-playlist/"><img src="http://videotube.marstheme.com/wp-content/uploads/2014/07/Bassist-Steven-McDonald-165x108.jpg" class="img-responsive wp-post-image" alt="Bassist Steven McDonald" width="165" height="108"></a>                       <a href="http://videotube.marstheme.com/video/hd-music-nexus-playlist/"><div class="img-hover"></div></a>
                    </div>                  
                    <h3><a title="HD Music Nexus Playlist" href="http://videotube.marstheme.com/video/hd-music-nexus-playlist/">HD Music Nexus Playlist</a></h3>
                    
            <div class="meta"><span class="date">1 year ago</span><span class="views"><i class="fa fa-eye"></i>6700</span><span class="heart"><i class="fa fa-heart"></i>1589</span>
                    <span class="fcomments"><i class="fa fa-comments"></i>0</span>
                
            </div>
                        </div>
                                                <div style="height: 159px;" class="col-xs-6 item responsive-height mars-videos-sidebar-widget-2-2508">
                    <div class="item-img">
                    <a title="Awesome Film Perfomance" href="http://videotube.marstheme.com/video/awesome-film-perfomance/"><img src="http://videotube.marstheme.com/wp-content/uploads/2014/09/ZLSw0SXxThSrkXRIiCdT_DSC_0345-165x108.jpg" class="img-responsive wp-post-image" alt="ZLSw0SXxThSrkXRIiCdT_DSC_0345" width="165" height="108"></a>                       <a href="http://videotube.marstheme.com/video/awesome-film-perfomance/"><div class="img-hover"></div></a>
                    </div>                  
                    <h3><a title="Awesome Film Perfomance" href="http://videotube.marstheme.com/video/awesome-film-perfomance/">Awesome Film Perfomance</a></h3>
                    
            <div class="meta"><span class="date">1 year ago</span><span class="views"><i class="fa fa-eye"></i>5264</span><span class="heart"><i class="fa fa-heart"></i>1313</span>
                    <span class="fcomments"><i class="fa fa-comments"></i>8</span>
                
            </div>
                        </div>
                                                <div style="height: 185px;" class="col-xs-6 item responsive-height mars-videos-sidebar-widget-2-2360">
                    <div class="item-img">
                    <a title="Best TRANCE music 2014" href="http://videotube.marstheme.com/video/best-trance-music-2014/"><img src="http://videotube.marstheme.com/wp-content/uploads/2014/08/Future-Music-Festival-2015-165x108.jpg" class="img-responsive wp-post-image" alt="Future Music Festival 2015" width="165" height="108"></a>                       <a href="http://videotube.marstheme.com/video/best-trance-music-2014/"><div class="img-hover"></div></a>
                    </div>                  
                    <h3><a title="Best TRANCE music 2014" href="http://videotube.marstheme.com/video/best-trance-music-2014/">Best TRANCE music 2014</a></h3>
                    
            <div class="meta"><span class="date">1 year ago</span><span class="views"><i class="fa fa-eye"></i>9320</span><span class="heart"><i class="fa fa-heart"></i>1073</span>
                    <span class="fcomments"><i class="fa fa-comments"></i>6</span>
                
            </div>
                        </div>
                                                <div style="height: 185px;" class="col-xs-6 item responsive-height mars-videos-sidebar-widget-2-1719">
                    <div class="item-img">
                    <a title="#SELFIE – The Chainsmokers" href="http://videotube.marstheme.com/video/selfie-the-chainsmokers/"><img src="http://videotube.marstheme.com/wp-content/uploads/2014/03/music2-165x108.jpg" class="img-responsive wp-post-image" alt="music2" width="165" height="108"></a>                      <a href="http://videotube.marstheme.com/video/selfie-the-chainsmokers/"><div class="img-hover"></div></a>
                    </div>                  
                    <h3><a title="#SELFIE – The Chainsmokers" href="http://videotube.marstheme.com/video/selfie-the-chainsmokers/">#SELFIE – The Chainsmokers</a></h3>
                    
            <div class="meta"><span class="date">2 years ago</span><span class="views"><i class="fa fa-eye"></i>8200</span><span class="heart"><i class="fa fa-heart"></i>1051</span>
                    <span class="fcomments"><i class="fa fa-comments"></i>0</span>
                
            </div>
                        </div>
                            </div>
                    </div><div class="widget widget_text"><h4 class="widget-title">Like us on Facebook</h4>         <div class="textwidget">        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_EN/sdk.js#xfbml=1&version=v2.5";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <div class="fb-page" data-href="https://www.facebook.com/facebook" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div></div></div>
        </div>  </div>
