<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 widget mars-keycloud-widgets">
        <h4 class="footer-widget-title">热门标签</h4>
        {% for tag, articles in (tags|sort_by_article_count)[:40] %}
          <a href="{{tag.url}}" title="{{articles|length}}个内容" >{{tag}}</a> 
        {% endfor %}
      </div>

      <div class="col-sm-3 widget widget_text">
        <h4 class="footer-widget-title">关于水星计划</h4>
        <div class="textwidget">
          <p>水星计划由一群爱好者自发成立的搬运&翻译团队。成员来自于世界各地，有着各种不同的兴趣爱好。但我们同样的愿望就是希望能够将更多有意义的视频和大家一起分享。</p>
          <p>水星计划是希望通过自身的努力，让更多的人跨过语言障碍看到更多有意义的视频。</p>
        </div>
      </div>
      
      <div class="col-sm-2 widget mars-connected-widget">
        <h4 class="footer-widget-title">关注我们</h4>
        <ul class="list-unstyled social">
          {% if ACFUN %}
            <li><a href="{{ACFUN}}"><i class="fa fa-rss"></i> Acfun</a></li>
          {% endif %}
          {% if BILIBILI %}
            <li><a href="{{BILIBILI}}"><i class="fa fa-rss"></i> Bilibili</a></li>
          {% endif %}
          {% if WEIBO %}
            <li><a href="{{WEIBO}}"><i class="fa fa-weibo"></i> 微博</a></li>
          {% endif %}
          {% if FEED_ALL_ATOM %}
            <li><a href="{{SITEURL}}/{{FEED_ALL_ATOM}}"><i class="fa fa-rss"></i> RSS</a></li>
          {% endif %}
        </ul>
      </div>
      
    </div>
    <div class="copyright">
      <p>Copyright 2015-{{'a'|current_date|strftime('%Y')}} By Shuixing All rights reserved. Powered by Pelican</p>
    </div>
  </div>
</div>
<style>
body {
  font-family: ;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: !important
}

#navigation-wrapper ul.menu li a {
  font-family: , sans-serif!important;
}
</style>
{% include "skeletons/body_footer_jsimport.html" %}
