<script type="text/javascript" src="{{SITEURL}}/theme/js/comment-reply.min.js"></script>
<script type="text/javascript" src="{{SITEURL}}/theme/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{SITEURL}}/theme/js/jquery.placeholder.js"></script>
<script type="text/javascript" src="{{SITEURL}}/theme/js/jquery.matchheight-min.js"></script>
<script type="text/javascript" src="{{SITEURL}}/theme/js/functions.js"></script>
<script type="text/javascript" src="{{SITEURL}}/theme/js/custom.js"></script>
<script type="text/javascript" src="{{SITEURL}}/theme/js/jquery.cookie.js"></script>
<script type="text/javascript" src="{{SITEURL}}/theme/js/bootstrap-multiselect.js"></script>
<script type="text/javascript" src="{{SITEURL}}/theme/js/jquery.form.min.js"></script>
<script type="text/javascript" src="{{SITEURL}}/theme/js/ajax_handled.js"></script>
<script type="text/javascript" src="{{SITEURL}}/theme/js/loading-more.js"></script>
<script type="text/javascript" src="{{SITEURL}}/theme/js/wp-embed.min.js"></script>
