{% extends "skeletons/style_index.html" %} 

{% block title%}所有视频 - 水星计划{% endblock %}

{% block maincontent %}
<div id="carousel-latest-mars-mainpost-widgets-2" class="carousel carousel-mars-mainpost-widgets-2 slide video-section" data-ride="carousel">
  {% for year, date_year in dates|rejectattr('blog')|groupby('date.year')|sort(reverse=True) %}
  <div class="section-header">
    <h3><i class="fa fa-play"></i> {{year}}年所有视频</h3>
  </div>
  <div class="latest-wrapper">
    <div class="row">
      <div class="carousel-inner">
        <div class="item active">
          {% for article in date_year|sort(attribute='date', reverse=True) %}
          <div style="height: 204px;" class="col-sm-4 col-xs-6 post type-post">
            <a title="{{article.title}}" href="{{article.url}}">
              <img src="{{article.cover}}" class="img-responsive" alt="{{article.title}}" width="230" height="150">
            </a>
            <div class="post-header">
              <h3><a title="{{article.title}}" href="{{article.url}}">{{article.title}}</a></h3>
              <span class="post-meta">
                  <i class="fa fa-clock-o"></i> {{article.date|relative_time}}
                </span>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<!-- /#carousel-->
{% endblock maincontent%}
