{% extends "base.html" %}

{% block nav_area %}
<li><a href="{{SITEURL}}/index.html">最新视频</a></li>
<li class="menu-item-has-children">
  <a href="#">分类</a>
  <ul>
    {% for category, articles in categories %}
    <li><a href="{{SITEURL}}/category/{{category.slug}}.html">{{category}} <sup>{{articles|length}}</sup></a></li>
    {% endfor %}
  </ul>
</li>
<li><a href="{{SITEURL}}/about.html">关于我们</a></li>
{% endblock %}

{% block main_area %}
<div class="container">
  <h2 class="single-title">{{article.title}}</h2>
  <video width="100%" class="video-js vjs-16-9" data-setup="{}" preload="auto" controls preload="auto" poster="{{article.videocover}}">
    <source src="{{article.video}}" type='video/x-flv'>
    <!-- <source src="{{article.video}}" type='video/mp4'> -->
  </video>
  <div class="margin-3"></div>
  <div class="row">
    <div class="col-sm-4 col-md-3 project-properties">
      <!-- <h6>Clients</h6>
      <p class="small">The Nordic Smorrebrod Food</p> -->
      <h6>类别</h6>
      <p class="small">{{article.category}}</p>
      <h6>发布时间</h6>
      <p class="small">{{article.date|strftime('%Y-%m-%d %H:%M')}}</p>
      <p class="social-share">
        <a href="#" class="social-link">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="#" class="social-link">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="#" class="social-link">
          <i class="fa fa-google-plus"></i>
        </a>
        <a href="#" class="social-link">
          <i class="fa fa-dribbble"></i>
        </a>
        <a href="#" class="social-link">
          <i class="fa fa-pinterest"></i>
        </a>
        <a href="#" class="social-link">
          <i class="fa fa-behance"></i>
        </a>
      </p>
    </div>
    <div class="col-sm-8 col-md-8 col-md-offset-1">
      <p>{{article.content}}</p>
      <div class="margin-1"></div>
      <p class="tags">
        <strong>标签</strong>
        {% for i in article.tags %}
          {% if i != '水星计划' %}
            <a href="#">{{i}}</a>
          {% endif %}
        {% endfor %}
      </p>
    </div>
  </div>
  <div class="margin-3"></div>
  <h5>相关视频</h5>
 <!--  <div class="owl-carousel owl-thumbs owl-theme owl-loaded">
    <div class="owl-stage-outer">
      <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 1950px;">
        <div class="owl-item active" style="width: 360px; margin-right: 30px;">
          <div class="thumb dark-overlay">
            <div class="photo">
              <a href="project.html">
                <img src="../img/sample-thumb7.jpg" alt="" width="434" height="434">
                <span class="info">
                  <span class="big-excerpt">Din Kook</span>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="owl-item active" style="width: 360px; margin-right: 30px;">
          <div class="thumb dark-overlay">
            <div class="photo">
              <a href="project.html">
                <img src="../img/sample-thumb4.jpg" alt="" width="434" height="434">
                <span class="info">
                  <span class="big-excerpt">Suprette</span>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="owl-item active" style="width: 360px; margin-right: 30px;">
          <div class="thumb dark-overlay">
            <div class="photo">
              <a href="project.html">
                <img src="../img/sample-thumb2.jpg" alt="" width="434" height="434">
                <span class="info">
                  <span class="big-excerpt">Frock</span>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="owl-item" style="width: 360px; margin-right: 30px;">
          <div class="thumb dark-overlay">
            <div class="photo">
              <a href="project.html">
                <img src="../img/sample-thumb8.jpg" alt="" width="434" height="434">
                <span class="info">
                  <span class="big-excerpt">Maon</span>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="owl-item" style="width: 360px; margin-right: 30px;">
          <div class="thumb dark-overlay">
            <div class="photo">
              <a href="project.html">
                <img src="../img/sample-thumb9.jpg" alt="" width="715" height="715">
                <span class="info">
                  <span class="big-excerpt">Northbound</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="owl-controls">
      <div class="owl-nav">
        <div class="owl-prev" style=""></div>
        <div class="owl-next" style=""></div>
      </div>
      <div class="owl-dots" style="display: none;"></div>
    </div>
  </div> -->
  <div class="margin-6"></div>
</div>
{% endblock %}
