<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
    {% include "head.html" %}
    <body class="single single-video postid-169  videotouch">
        {% include "inline-css.html" %}
        <div id="wrapper" class="">
            {% include "header.html" %}
            
            <div class="featured-image video-featured-image without-sidebar">
                <div class="container ">
                    <div class="embedded_videos ">
                        <div id="videoframe" class="video-frame" data-display-button="true">
                            <div class="overimg">
                                <div class="play-btn">
                                    <a class="videoPlay" href="#"><i class="icon-play fa fa-play-circle-o"></i></a>
                                </div>
                                <div class="over-image">
                                    <img width="1600" height="1067" src="{{ article.cover }}" class="attachment-full" alt="{{ article.title }}" />
                                </div>
                            </div>
                            <div id="post-video">
                                <div class="video-container">
                                    <p><iframe style="width:704px;height:436px;" src="https://ssl.acfun.tv/block-player-homura.html#vid={{ article.acfun }};from=http://www.acfun.tv" id="ACFlashPlayer-re" frameborder="0"></iframe></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="video-single-resize in">
                        <i class="icon-right fa fa-angle-right"></i>
                        <b class="icon-video fa fa-arrows-alt"></b>
                        <span>改变大小</span>
                        <i class="icon-left fa fa-angle-left"></i>
                    </div>
                </div>
            </div>
            <section id="main">
                <div class="container singular-container">
                    <div id="primary" class="col-lg-12">
                        <div id="content" role="main">
                            <article class="post-169 video type-video status-publish has-post-thumbnail hentry tag-fox tag-here tag-some tag-tale tag-touchsize tag-video videos_categories-animation">
                                <header class="post-header">
                                    <div class="row">
                                        <div class="ts-breadcrumbs breadcrumbs-single-video">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-12 col-lg-12">
                                                        <div class="ts-breadcrumbs-content">
                                                            <a href="{{ SITEURL }}">首页</a> /
                                                            <a href="{{ SITEURL }}/categories/{{ article.category }}/">{{ article.category }}</a> / {{ article.title }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-12">
                                            <h1 class="post-title video-title">{{ article.title }}</h1>
                                        </div>
                                        
                                        <div class="col-lg-12 col-md-12 post-author-block">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                    <ul>
                                                        <li class="author-name">by
                                                            <a href="{{ SITEURL }}/authors/{{ article.author }}/">{{ article.author }}</a>
                                                        </li>
                                                        <li class="author-published">Published
                                                            <span>{{ article.date }}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </header>
                                <div class="post-content ">
                                    {{ article.content }}
                                    <div>
                                        <i class="icon-category fa fa-folder-open"></i>
                                        <ul class="single-video-categories">
                                            <li>
                                                <a href="{{ SITEURL }}/categories/{{ article.category }}/" title="{{ article.category }}">{{ article.category }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div>
                                        <i class="fa fa-tags icon-tags"></i>
                                        <ul class="single-video-tags">
                                            {% for i in article.tag %}
                                                <li>
                                                    <a href="{{ SITEURL }}/tag/{{ i.name }}/" rel="tag">{{ i.name }}</a>
                                                </li>       
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="content-cortina"></div>
                                </div>
                                <div class="video-post-open">
                                    <i class="icon-down"></i>
                                    <span>更多</span>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <!-- <div class="ts-related-video-container row">
                    <div class="container">
                        <div class="ts-tab-container">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active">
                                    <a role="tab" data-toggle="tab" href="#related">Related posts</a>
                                </li>
                                <li>
                                    <a role="tab" data-toggle="tab" href="#related-author">By the author</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="related">
                                    <div class="row">
                                        <section class="ts-thumbnail-view no-effect cols-by-4 ">
                                            <div class="item col-lg-3 col-md-3 col-sm-12 ">
                                                <article class="post-184 video type-video status-publish has-post-thumbnail hentry tag-moldova tag-more tag-music-video tag-touchsize tag-video videos_categories-music-videos">
                                                    <div class="image-holder">
                                                        <a href="{{ SITEURL }}/video/moldovenii-s-au-nascut/">
                                                            <img src="{{ SITEURL }}/wp-content/uploads/sites/16/2014/10/117H-450x370.jpg" alt="Moldovenii s-au născut" />
                                                        </a>
                                                        <div class="entry-meta-likes">
                                                            <a href="#" class="touchsize-likes" data-id="touchsize-likes-184" title="Like this"><span class="touchsize-likes-count icon-heart">481</span> <span class="touchsize-likes-postfix"></span></a>
                                                        </div>
                                                    </div>
                                                    <div class="entry-content">
                                                        <div class="entry-title">
                                                            <a href="{{ SITEURL }}/video/moldovenii-s-au-nascut/"><h3 class="title">Moldovenii s-au născut<i class="icon-right"></i></h3></a>
                                                        </div>
                                                        <div class="entry-meta-date">
                                                            <span>added 1 year ago</span>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                            <div class="item col-lg-3 col-md-3 col-sm-12 ">
                                                <article class="post-166 video type-video status-publish has-post-thumbnail hentry tag-animate tag-animation-2 tag-more tag-touchsize tag-video videos_categories-animation">
                                                    <div class="image-holder">
                                                        <a href="{{ SITEURL }}/video/partly-cloudy/">
                                                            <img src="{{ SITEURL }}/wp-content/uploads/sites/16/2014/10/d23d2dfd-450x370.jpg" alt="Partly cloudy" />
                                                        </a>
                                                        <div class="entry-meta-likes">
                                                            <a href="#" class="touchsize-likes" data-id="touchsize-likes-166" title="Like this"><span class="touchsize-likes-count icon-heart">459</span> <span class="touchsize-likes-postfix"></span></a>
                                                        </div>
                                                    </div>
                                                    <div class="entry-content">
                                                        <div class="entry-title">
                                                            <a href="{{ SITEURL }}/video/partly-cloudy/"><h3 class="title">Partly cloudy<i class="icon-right"></i></h3></a>
                                                        </div>
                                                        <div class="entry-meta-date">
                                                            <span>added 1 year ago</span>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                            <div class="item col-lg-3 col-md-3 col-sm-12 ">
                                                <article class="post-163 video type-video status-publish has-post-thumbnail hentry tag-animation-2 tag-more tag-touchsize tag-vampire tag-video videos_categories-animation">
                                                    <div class="image-holder">
                                                        <a href="{{ SITEURL }}/video/vampires-crown/">
                                                            <img src="{{ SITEURL }}/wp-content/uploads/sites/16/2014/10/fdsff2f2f2d2-450x370.jpg" alt="Vampire&#8217;s crown" />
                                                        </a>
                                                        <div class="entry-meta-likes">
                                                            <a href="#" class="touchsize-likes" data-id="touchsize-likes-163" title="Like this"><span class="touchsize-likes-count icon-heart">364</span> <span class="touchsize-likes-postfix"></span></a>
                                                        </div>
                                                    </div>
                                                    <div class="entry-content">
                                                        <div class="entry-title">
                                                            <a href="{{ SITEURL }}/video/vampires-crown/"><h3 class="title">Vampire&#8217;s crown<i class="icon-right"></i></h3></a>
                                                        </div>
                                                        <div class="entry-meta-date">
                                                            <span>added 1 year ago</span>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                            <div class="item col-lg-3 col-md-3 col-sm-12 ">
                                                <article class="post-160 video type-video status-publish has-post-thumbnail hentry tag-more tag-tolerantia tag-touchsize tag-video videos_categories-animation">
                                                    <div class="image-holder">
                                                        <a href="{{ SITEURL }}/video/tolerantia/">
                                                            <img src="{{ SITEURL }}/wp-content/uploads/sites/16/2014/10/ff3f2f2f23f2ffa-450x370.jpg" alt="Tolerantia" />
                                                        </a>
                                                        <div class="entry-meta-likes">
                                                            <a href="#" class="touchsize-likes" data-id="touchsize-likes-160" title="Like this"><span class="touchsize-likes-count icon-heart">250</span> <span class="touchsize-likes-postfix"></span></a>
                                                        </div>
                                                    </div>
                                                    <div class="entry-content">
                                                        <div class="entry-title">
                                                            <a href="{{ SITEURL }}/video/tolerantia/"><h3 class="title">Tolerantia<i class="icon-right"></i></h3></a>
                                                        </div>
                                                        <div class="entry-meta-date">
                                                            <span>added 1 year ago</span>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                                <div class="tab-pane" id="related-author">
                                    <div class="row">
                                        <section class="ts-thumbnail-view no-effect cols-by-4 ">
                                            <div class="item col-lg-3 col-md-3 col-sm-12 ">
                                                <article class="post-184 video type-video status-publish has-post-thumbnail hentry tag-moldova tag-more tag-music-video tag-touchsize tag-video videos_categories-music-videos">
                                                    <div class="image-holder">
                                                        <a href="{{ SITEURL }}/video/moldovenii-s-au-nascut/">
                                                            <img src="{{ SITEURL }}/wp-content/uploads/sites/16/2014/10/117H-450x370.jpg" alt="Moldovenii s-au născut" />
                                                        </a>
                                                        <div class="entry-meta-likes">
                                                            <a href="#" class="touchsize-likes" data-id="touchsize-likes-184" title="Like this"><span class="touchsize-likes-count icon-heart">481</span> <span class="touchsize-likes-postfix"></span></a>
                                                        </div>
                                                    </div>
                                                    <div class="entry-content">
                                                        <div class="entry-title">
                                                            <a href="{{ SITEURL }}/video/moldovenii-s-au-nascut/"><h3 class="title">Moldovenii s-au născut<i class="icon-right"></i></h3></a>
                                                        </div>
                                                        <div class="entry-meta-date">
                                                            <span>added 1 year ago</span>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                            <div class="item col-lg-3 col-md-3 col-sm-12 ">
                                                <article class="post-169 video type-video status-publish has-post-thumbnail hentry tag-fox tag-here tag-some tag-tale tag-touchsize tag-video videos_categories-animation">
                                                    <div class="image-holder">
                                                        <a href="{{ SITEURL }}/video/fox-tale/">
                                                            <img src="{{ SITEURL }}/wp-content/uploads/sites/16/2014/10/v2c2sscas-450x370.jpg" alt="A fox tale" />
                                                        </a>
                                                        <div class="entry-meta-likes">
                                                            <a href="#" class="touchsize-likes" data-id="touchsize-likes-169" title="Like this"><span class="touchsize-likes-count icon-heart">632</span> <span class="touchsize-likes-postfix"></span></a>
                                                        </div>
                                                    </div>
                                                    <div class="entry-content">
                                                        <div class="entry-title">
                                                            <a href="{{ SITEURL }}/video/fox-tale/"><h3 class="title">A fox tale<i class="icon-right"></i></h3></a>
                                                        </div>
                                                        <div class="entry-meta-date">
                                                            <span>added 1 year ago</span>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                            <div class="item col-lg-3 col-md-3 col-sm-12 ">
                                                <article class="post-166 video type-video status-publish has-post-thumbnail hentry tag-animate tag-animation-2 tag-more tag-touchsize tag-video videos_categories-animation">
                                                    <div class="image-holder">
                                                        <a href="{{ SITEURL }}/video/partly-cloudy/">
                                                            <img src="{{ SITEURL }}/wp-content/uploads/sites/16/2014/10/d23d2dfd-450x370.jpg" alt="Partly cloudy" />
                                                        </a>
                                                        <div class="entry-meta-likes">
                                                            <a href="#" class="touchsize-likes" data-id="touchsize-likes-166" title="Like this"><span class="touchsize-likes-count icon-heart">459</span> <span class="touchsize-likes-postfix"></span></a>
                                                        </div>
                                                    </div>
                                                    <div class="entry-content">
                                                        <div class="entry-title">
                                                            <a href="{{ SITEURL }}/video/partly-cloudy/"><h3 class="title">Partly cloudy<i class="icon-right"></i></h3></a>
                                                        </div>
                                                        <div class="entry-meta-date">
                                                            <span>added 1 year ago</span>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                            <div class="item col-lg-3 col-md-3 col-sm-12 ">
                                                <article class="post-163 video type-video status-publish has-post-thumbnail hentry tag-animation-2 tag-more tag-touchsize tag-vampire tag-video videos_categories-animation">
                                                    <div class="image-holder">
                                                        <a href="{{ SITEURL }}/video/vampires-crown/">
                                                            <img src="{{ SITEURL }}/wp-content/uploads/sites/16/2014/10/fdsff2f2f2d2-450x370.jpg" alt="Vampire&#8217;s crown" />
                                                        </a>
                                                        <div class="entry-meta-likes">
                                                            <a href="#" class="touchsize-likes" data-id="touchsize-likes-163" title="Like this"><span class="touchsize-likes-count icon-heart">364</span> <span class="touchsize-likes-postfix"></span></a>
                                                        </div>
                                                    </div>
                                                    <div class="entry-content">
                                                        <div class="entry-title">
                                                            <a href="{{ SITEURL }}/video/vampires-crown/"><h3 class="title">Vampire&#8217;s crown<i class="icon-right"></i></h3></a>
                                                        </div>
                                                        <div class="entry-meta-date">
                                                            <span>added 1 year ago</span>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- Ad area 2 -->
                <!-- // End of Ad Area 2 -->
                <div class="container single-video-comments">
                    <div class="row content-block">
                        <div class="col-lg-12">
                            <div id="comments">
                                <div id="respond" class="comment-respond">
                                    <h3 id="reply-title" class="comment-reply-title">来说点什么</h3>

                                    <div id="disqus_thread"></div>
                                    <script>
                                    /**
                                    * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                                    * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                                    */
                                    
                                    var disqus_config = function () {
                                    this.page.url = '{{ SITEURL }}/{{ article.url }}'; // Replace PAGE_URL with your page's canonical URL variable
                                    // this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                                    };
                                    
                                    (function() { // DON'T EDIT BELOW THIS LINE
                                    var d = document, s = d.createElement('script');

                                    s.src = '//shuixingtvcom.disqus.com/embed.js';

                                    s.setAttribute('data-timestamp', +new Date());
                                    (d.head || d.body).appendChild(s);
                                    })();
                                    </script>
                                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>   
                                    
                                    </div>
                                    
                            </div>
                                    
                        </div>
                    </div>
                </div>
            </section>
                    
                    {% include "footer.html" %}
                </div>
                </body>
            </html>
