{%if tag%}
<div class="row">
    <div class="span12 alpha ">
	<h3>You are now browsing through `{{tag}}` tagged articles</h3>
    </div>
</div>
<div class="clearfix"></div>
{%endif%}
{% for article in articles.object_list %}
<div class="row">
{%if not article or not page %}
    <div class="span1 metadata alpha">
{# Entry Date #}
	<aside>
	    <div class="entry-date">
		<div class="month-day">
		    <time pubdate datetime="{{ article.date.isoformat() }}" title="{{ article.date|strftime('%b %d, %y')}}">
			{{ article.date|strftime('%b')}}.<span class="day">{{ article.date|strftime('%d')}}</span>
			<div class="year">{{ article.date|strftime('%y')}}</div>
		    </time>
		</div>

	    </div>

	</aside> 
{# End of Date #}

    </div>
    {%endif%}
    <div class="{%if article%}span10{%else%}span7{%endif%}">
	<div class="entry-container ">

	    <article  class="entry hentry" >
		<header>
		    <a href="{{ siteurl }}/{{ article.url }}" rel="bookmark" title="permalink for {{ article.title|striptags }}" ><h2>{{article.title}}</h2></a>
		    <div class="author-details vcard">

			by {% for author in article.authors %}<a  class="url fn" href="{{ siteurl }}/{{ author.url}}">{{ author }}</a>{% endfor %}  file under <a href="{{ siteurl }}/{{ article.category.url }}">{{ article.category }}</a>{% if article.tags %} with tags {% for tag in article.tags %}
			<a href="{{SITEURL}}/{{tag.url}}" title="Browse tag: {{tag}}" rel="tag">{{tag}}</a>{%if not loop.last %}, {%endif%}{% endfor %}{% endif %}
		    </div>
		</header>
		<div class="entry-content">
		{{ article.content }} </div>
	    </article>

	    <!--
	    in case any image breaks the theme
	    i was going to use :after but it didn't quite work for me, maybe next time-->
	    <div class="clearfix"></div>




	</div>
    </div>

</div>
{%if loop.last %}
{% if articles_page.has_previous() or loop.length > 1 %}

	{% include 'nav.html' %}
    {%endif%}
{%endif%}
{% endfor %}
