<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}" prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article# profile: http://ogp.me/ns/profile#">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		{# {% block metadata %}{% endblock %}
		{%if not article%}
		{% include 'metadata.html' %}
		{%endif%} #}
		<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/gss.min.js"></script>
		<script type="text/javascript">
		  window.engine = new GSS(document);
		</script>
		<title>{% block title %}{{ SITENAME }}{%endblock%}</title>
		<link rel="stylesheet/gss" type="text/gss" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/site.gss"></link>

			{# <link rel="stylesheet" href="{{ SITEURL}}/{{ THEME_STATIC_DIR }}/css/site.css"/> #}
			{# <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/bootstrap.css"/> #}
			{# <link href="css/bootstrap.min.css" rel="stylesheet"> #}
			<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
			<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
			<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
			<![endif]-->
			
			
	</head>

	<body>
		<header id="header" class="header-area">
			<div id="social-search">
				<div class="container">
					search
				</div>
			</div>
			<nav id="menu">
				nav
			</nav>
		</header>


</body>
</html>
