{% extends "skeletons/style_blog.html" %} 

{% block title%}博客 - 水星计划{% endblock %}

{% block main_blogcontent %}
  {% for article in (articles|selectattr('blog')|sort(attribute='date', reverse=True)) %}
    <div class="post type-post">
      <div class="post-header">
        <h2>有什么想说的，快来给我们留言吧</h2>
      </div>
      <div id="comments">
        <div id="respond" class="comment-respond">
          <div id="disqus_thread"></div>
          <script>
          /**
           * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
           * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
           */

          var disqus_config = function() {
            this.page.url = '{{ SITEURL }}/{{ article.url }}'; // Replace PAGE_URL with your page's canonical URL variable
            // this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };

          (function() { // DON'T EDIT BELOW THIS LINE
            var d = document,
              s = d.createElement('script');

            s.src = '//shuixingtvcom.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
