{%if DISQUS %}
<div class="row">
    <div class="alpha span9">
	<p>The rules are fairly simple and easy to follow:</p>
	<ul>
	    <li>Do not make personal attacks of any kind.</li>
	    <li>Enable friendly conversation! It's all nice when you can find people to talk about a subject you love. Being condescending, or letting your ego do the talking isn't really going to get you anywhere.</li>
	    <li>It's okay to dislike things and acknowledge the flaws of a software; not everything is perfect, do not troll people just because you disagree.</li>
	</ul>
	<p>Although the rules feels out of place, they are meant to foster a better environment.</p>
<div id="disqus_thread"></div>
    <script type="text/javascript">
	var disqus_shortname = '{{DISQUS}}';
	var disqus_identier = '{{article.url}}';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div></div>
{%endif%}
