<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.0/jquery-migrate.min.js'></script>
<script type='text/javascript' src='{{SITEURL}}/theme/js/jquery.themepunch.tools.min.js'></script>
<script type='text/javascript' src='{{SITEURL}}/theme/js/jquery.themepunch.revolution.min.js'></script>
<script type='text/javascript' src='{{SITEURL}}/theme/js/snazzymaps.js'></script>
<script type='text/javascript' src='{{SITEURL}}/theme/js/SmoothScroll.min.js'></script>
<script type='text/javascript' src='{{SITEURL}}/theme/js/royal-plugins.min.js'></script>
<script type='text/javascript' src='{{SITEURL}}/theme/js/custom-scripts.min.js'></script>
