<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <!-- Header hook. Don't delete this. -->
  <title>水星计划 | Improve Everyday</title>
  <link rel='stylesheet' href='{{SITEURL}}/theme/css/settings.css' type='text/css' media='all' />
  <link rel='stylesheet' href='{{SITEURL}}/theme/css/custom.css' type='text/css' media='screen' />
  <link rel='stylesheet' href='{{SITEURL}}/theme/css/Defaults.css?ver=4.3.1' type='text/css' media='all' />
  <link rel='stylesheet' href='{{SITEURL}}/theme/css/style.css?ver=4.3.1' type='text/css' media='all' />
  <script src="https://use.fontawesome.com/baa21da725.js"></script>
  <link rel='stylesheet' href='{{SITEURL}}/theme/css/fontello.css?ver=4.3.1' type='text/css' media='all' />
  <link rel='stylesheet' href='{{SITEURL}}/theme/css/animsition.min.css?ver=4.3.1' type='text/css' media='all' />
  <link rel='stylesheet' href='{{SITEURL}}/theme/css/prettyPhoto.css?ver=4.3.1' type='text/css' media='all' />
  <link rel='stylesheet' href='{{SITEURL}}/theme/css/responsive.css?ver=4.3.1' type='text/css' media='all' />
  <link rel='stylesheet' href='{{SITEURL}}/theme/css/woocommerce.css?ver=4.3.1' type='text/css' media='all' />
  <link rel='stylesheet' href='{{SITEURL}}/theme/css/socials.css' type='text/css' media='all' />
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900&#038;ver=1.0.0' type='text/css' media='all' />
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900&#038;ver=1.0.0' type='text/css' media='all' />
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Courgette%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900&#038;ver=1.0.0' type='text/css' media='all' />
</head>
