<head>
    <meta charset="UTF-8" />
    <!-- Viewports for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <![endif]-->
    <title>ProjectMercury</title>
    <link rel="profile" href="http://gmpg.org/xfn/11" />
    <link rel="shortcut icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/favicon.ico"/>
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/font.css" type="text/css" media="all" />

    
    <link rel="canonical" href="{{ SITEURL }}/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="视频" />
    <meta property="og:title" content="Homepage - 水星计划" />
    <meta property="og:url" content="{{ SITEURL }}/" />
    <meta property="og:site_name" content="水星计划" />
    <!-- / Yoast SEO plugin. -->
    <link rel="alternate" type="application/rss+xml" title="水星计划 &raquo; Feed" href="{{ SITEURL }}/feed/" />
    <link rel="alternate" type="application/rss+xml" title="VideoTouch &raquo; Comments Feed" href="{{ SITEURL }}/comments/feed/" />
    <link rel="alternate" type="application/rss+xml" title="VideoTouch &raquo; Homepage 1 Comments Feed" href="{{ SITEURL }}/homepage-1/feed/" />
    
    <link rel='stylesheet' id='videotouch.widgets-css' href='{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/widgets.css' type='text/css' media='all' />
    <link rel='stylesheet' id='videotouch.bootstrap-css' href='{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/bootstrap.css' type='text/css' media='all' />
    <link rel='stylesheet' id='lightbox-css' href='{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/prettyphoto.css' type='text/css' media='all' />
    <link rel='stylesheet' id='videotouch.style-css' href='{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css' type='text/css' media='all' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script type='text/javascript' src='{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.js'></script>
    <script type='text/javascript' src='{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery-migrate.min.js'></script>
    <link rel='shortlink' href='{{ SITEURL }}/' />
</head>
