<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
  {% include "head.html" %}
  <body class="home page page-id-122 page-template-default  videotouch">
    {% include "inline-css.html" %}
    <div id="wrapper" class="">
      {% include "header.html" %}
      <section id="main" class="row">
        <div id="primary" class="ts-page-with-layout-builder col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div id="content" role="main">
            <div data-alignment="top" class="site-section " style=" background-color: transparent;  color: inherit;  margin-top: 0px;  margin-bottom: 0px;  padding-top: 0px;  padding-bottom: 0px; ">
              <div class="container">
                <div class="row">
                  <div class="col-lg-9 col-md-9">
                    <div class="row content-block ">
                      <div class="col-lg-12">
                        <div class="block-title block-title-simpleleft">
                          <div class="block-title-container">
                            <h3 class="the-title" style="color: #3f4549"><i class="icon-noicon"></i>大脑游戏 Brain Games</h3>
                            <span class="block-title-description" style="color: #b9c1c6">分类</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row content-block ">
                      <div data-element="spacer" data-show-mobile="n" style="height: 20px;"></div>
                    </div>
                    <div class="row content-block ">
                      <section class="ts-grid-view cols-by-3">
                        {% for category, articles in categories %}
                          {% if category|lower == 'brain games' %}
                            {% for i in articles[:3] %}
                              <div class="col-lg-4 col-md-4 col-sm-12 item">
                                <article class=" article-meta-shown title-above-excerpt post-169 video type-video status-publish has-post-thumbnail hentry">
                                  <header>
                                    <div class="image-holder default-effect">
                                      <a href="{{ i.url }}">
                                        <img src="{{ i.cover }}" alt="{{ i.title }}" style="object-fit: cover; height: 237px"/>
                                      </a>
                                      <div class="overlay-effect">
                                        <div class="entry-overlay">
                                          <a class="view-more" href="{{ i.url }}"><i class="icon-icon-play fa fa-play-circle-o" style="line-height: 60px;"></i><span>浏览</span></a>
                                        </div>
                                      </div>
                                    </div>
                                  </header>
                                  <section>
                                    <div class="entry-title">
                                      <a href="{{ i.url }}"><h3 class="title">{{ i.title }}</h3></a>
                                    </div>
                                    <div class="ts-view-entry-meta-date">
                                      <ul>
                                        <li>{{ i.date }}</li>
                                      </ul>
                                    </div>
                                    <div class="entry-excerpt">
                                      {{ i.content }}
                                    </div>
                                  </section>
                                  <footer>
                                    <div class="entry-footer">
                                      <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-12 text-right">
                                          <a href="{{ i.url }}" class="btn btn-grid-more">浏览<i class="icon-right fa fa-angle-right"></i></a>
                                        </div>
                                      </div>
                                    </div>
                                  </footer>
                                </article>
                              </div>
                            {% endfor %}
                          {% endif %}
                        {% endfor %}
                      </section>
                    </div>

                    <div data-element="spacer" data-show-mobile="n" style="height: 30px;"></div>
                    <div class="row content-block ">
                      <div class="col-lg-12">
                        <div class="block-title block-title-simpleleft">
                          <div class="block-title-container">
                            <h3 class="the-title" style="color: #3f4549"><i class="icon-noicon"></i>大脑魔术 Brain Magics</h3>
                            <span class="block-title-description" style="color: #b9c1c6">分类</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row content-block ">
                      <div data-element="spacer" data-show-mobile="n" style="height: 20px;"></div>
                    </div>
                    <div class="row content-block ">
                      <section class="ts-big-posts">
                        {% for category, articles in categories %}
                          {% if category|lower == 'brain magic' %}
                            {% for i in articles[:2] %}
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <article class=" article-split-1-2 article-meta-shown title-above-excerpt post-184 video type-video status-publish has-post-thumbnail hentry">
                                  <div class="row">
                                    <header class="col-lg-6 col-md-6 col-sm-12">
                                      <div class="image-holder default-effect">
                                        <a href="{{ i.url }}">
                                          <img src="{{ i.cover }}" alt="{{ i.title }}" />
                                        </a>
                                        <div class="overlay-effect">
                                          <a href="{{ i.url }}" class="view-more"><i class="icon-icon-play fa fa-play-circle-o" style="line-height: 60px;"></i>
                                            <span>浏览</span>
                                          </a>
                                        </div>
                                      </div>
                                    </header>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                      <section>
                                        <div class="entry-title">
                                          <a href="{{ i.url }}" title="{{ i.title }}"><h3 class="title">{{ i.title }}</h3></a>
                                        </div>
                                        <div class="entry-author">
                                          <ul>
                                            <li class="author-name">
                                              by
                                              <a href="http://demo.touchsize.com/videotouch/author/admin/">{{ i.author }}</a>
                                            </li>
                                            <li class="author-published">added
                                              <span>{{ i.date }}</span>
                                            </li>
                                          </ul>
                                        </div>
                                        <div class="entry-excerpt excerpt">
                                          {{ i.content }}
                                        </div>
                                        <a class="btn small" href="http://demo.touchsize.com/videotouch/video/moldovenii-s-au-nascut/" title="Moldovenii s-au născut">浏览 <i class="icon-right fa fa-angle-right"></i></a>
                                      </section>
                                    </div>
                                  </div>
                                </article>
                              </div>
                            {% endfor %}
                          {% endif %}
                        {% endfor %}
                      </section>
                    </div>
                    <div class="row content-block ">
                      <div data-element="spacer" data-show-mobile="n" style="height: 30px;"></div>
                    </div>
                    <div class="row content-block ">
                      <div class="col-lg-12">
                        <div class="block-title block-title-simpleleft">
                          <div class="block-title-container">
                            <h3 class="the-title" style="color: #3f4549"><i class="icon-noicon"></i>其他</h3>
                            <span class="block-title-description" style="color: #b9c1c6">分类</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row content-block ">
                      <div data-element="spacer" data-show-mobile="n" style="height: 20px;"></div>
                    </div>
                    <div class="row content-block ">
                      <section class="ts-thumbnail-view no-effect cols-by-4 ">
                        {% for category, articles in categories %}
                          {% if category|lower != 'brain games' and  category|lower != 'brain magic' %}
                            {% for i in articles[:4] %}
                              <div class="item col-lg-3 col-md-3 col-sm-12 ">
                                <article class="post-154 video type-video status-publish has-post-thumbnail hentry">
                                  <div class="image-holder">
                                    <a href="{{ i.url }}">
                                      <img src="{{ i.cover }}" alt="{{ i.title }}" style="object-fit: cover; height: 180px"/>
                                    </a>
                                  </div>
                                  <div class="entry-content">
                                    <div class="entry-title">
                                      <a href="{{ i.url }}"><h3 class="title">{{ i.title }}<i class="icon-right fa fa-angle-right"></i></h3></a>
                                    </div>
                                    <div class="entry-meta-date">
                                      <span>{{ i.date }}</span>
                                    </div>
                                  </div>
                                </article>
                              </div>
                            {% endfor %}
                          {% endif %}
                        {% endfor %}
                      </section>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3">
                    <div class="row content-block ">
                      <div class="col-lg-12 col-md-12 col-sm-12">
                        <aside id="search-2" class="widget ts_widget widget_search">
                          <div class="widget-content">
                            <form role="search" method="get" id="searchform" class="searchform" action="http://demo.touchsize.com/videotouch/">
                              <div>
                                <label class="screen-reader-text" for="s">Search for:</label>
                                <input type="text" class="st-default-search-input form-control" placeholder="搜索">
                                <script type="text/javascript">
                                  (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
                                  (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
                                  e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
                                  })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

                                  _st('install','{{SWIFTYPE}}','2.0.0');
                                </script>
                              </div>
                            </form>
                          </div>
                        </aside>
                        <aside id="widget_touchsize_most_liked-2" class="widget ts_widget widget_most_liked">
                          <div class="widget-content">
                            <h4 class="widget-title ts_sidebar_title">推荐视频</h4>
                            <div class="widget-delimiter"></div>
                            <ul class="widget-items">
                              {% for article in articles_page.object_list[:4] %}                              
                              <li>
                                <article class="row">
                                  <div class="col-lg-4 col-sm-4">
                                    <a class="entry-img" href="{{ article.url }}">
                                      <img width="150" height="92" src="{{ article.cover }}" class="attachment-thumb" alt="{{ article.title }}" style="object-fit: cover; height: 47px">
                                    </a>
                                  </div>
                                  <div class="col-lg-8 col-sm-8">
                                    <h6> <a href="{{ article.url }}">
                                    {{ article.title }}</a> </h6>
                                  </div>
                                </article>
                              </li>
                              {% endfor %}
                            </ul>
                          </div>
                        </aside>
                        <aside id="text-2" class="widget ts_widget widget_text">
                          <div class="widget-content">
                            <h4 class="widget-title ts_sidebar_title">广告招租</h4>
                            <div class="widget-delimiter"></div>
                            <div class="textwidget">
                              <a href="#" target="_blank">
                                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/logo.png">
                              </a>
                            </div>
                          </div>
                        </aside>
                        <aside id="widget_touchsize_most_viewed-2" class="widget ts_widget widget_most_viewed">
                          <div class="widget-content">
                            <h4 class="widget-title ts_sidebar_title">热门视频</h4>
                            <div class="widget-delimiter"></div>
                            <ul class="widget-items row  widget-columns-2">
                              {% for article in articles_page.object_list[:8] %}                              
                                <li class="col-lg-6 col-md-6 col-sm-12">
                                  <article class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                      <a class="entry-img" href="{{ article.url }}">
                                        <img width="450" height="300" src="{{ article.cover }}" class="attachment-grid" style="object-fit: cover; height: 79px">
                                      </a>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                      <h6> <a href="{{ article.url }}">
                                      {{ article.title }}</a> </h6>
                                    </div>
                                  </article>
                                </li>
                              {% endfor %}
                            </ul>
                          </div>
                        </aside>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      {% include "footer.html" %}
    </div>
    </body>
  </html>
