{% extends "base.html" %}
{% block nav_area %}
<li class="current-menu-item"><a href="{{SITEURL}}/index.html">最新视频</a></li>
<li class="menu-item-has-children">
  <a href="#">分类</a>
  <ul>
    {% for category, articles in categories %}
    <li><a href="{{SITEURL}}/category/{{category.slug}}.html">{{category}} <sup>{{articles|length}}</sup></a></li>
    {% endfor %}
  </ul>
</li>
<li><a href="{{SITEURL}}/about.html">关于我们</a></li>  
{% endblock %}

{% block main_area %}
<div class="container container-masonry">
  <div class="inner">
    <div class="row">
      {% for article in (articles|sort(attribute='date', reverse=True)) [:1]%}
      <div class="box col-sm-4 col-md-6">
        <div class="thumb featured">
          <div class="photo">
            <a href="{{SITEURL}}/{{article.url}}">
              <img src="{{SITEURL}}/images/{{article.cover}}" alt="" width="715" height="715">
              <span class="info"><strong class="big-title">{{article.title}}</strong><span class="excerpt">{{article.content}}</span><em class="arrow-right"></em></span>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
      {% for article in (articles|sort(attribute='date', reverse=True)) [1:13]%}
      <div class="box col-xs-6 col-sm-4 col-md-3">
        <div class="thumb">
          <div class="photo">
            <a href="{{SITEURL}}/{{article.url}}">
              <img src="{{SITEURL}}/images/{{article.cover}}" alt="" width="434" height="434">
              <span class="info"><strong class="title">{{article.title}}</strong><span class="excerpt">{{article.content}}</span><em class="arrow-right"></em></span>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="clear"></div>
</div>
{% endblock %}
