<style type="text/css">
    /*************** Theme:  VideoTouch *************/
    /*************** Theme Version:  1.5 ************/
    a{
    color: #e10d0d;
    }
    a:hover, a:focus{
    color: #BA2121;
    }
    .post-navigator ul li a:hover div{
    color: #BA2121;
    }
    .ts-grid-view article a, .ts-thumbnail-view article a, .ts-big-posts article a, .ts-list-view article a, .ts-super-posts article a, .product-view article a{
    color: #434A54;
    }
    .product-view article .entry-categories a{
    color: #d6cbcb;
    }
    .archive-title span,
    .archive-desc p,
    footer .related .related-list .related-content .ts-view-entry-meta-date,
    .ts-timeline-view .entry-meta .post-date-add,
    .ts-grid-view article .ts-view-entry-meta-date,
    .ts-bigpost-view article .ts-view-entry-meta-date,
    .ts-list-view article .ts-view-entry-meta-date{
    color: #d6cbcb;
    }
    article .overlay-effect,
    article .overlay-effect a,
    .ts-grid-view article .overlay-effect a:hover, .ts-thumbnail-view article .overlay-effect a:hover, .ts-big-posts article .overlay-effect a:hover, .ts-list-view article .overlay-effect a:hover, .ts-super-posts article .overlay-effect a:hover, .product-view article .overlay-effect a:hover{
    color: #FFFFFF;
    }
    article .overlay-effect{
    background-color: rgba(225,13,13, 0.8);
    }
    .ts-grid-view article a:hover, .ts-thumbnail-view article a:hover, .ts-big-posts article a:hover, .ts-list-view article a:hover, .ts-super-posts article a:hover, .product-view article a:hover{
    color: #656D78;
    }
    body{
    color: #3f4549;
    }
    .ts-user-profile-dw .user-info a,
    .ts-user-header-profile #ts-show-login-modal{
    color: inherit;
    }
    .ts-user-profile-dw .user-info .dropdown > .dropdown-menu a:hover{
    color: #3f4549;
    }
    .ts-user-profile-dw .user-info .user-role,
    .ts-user-header-profile #ts-show-register-modal{
    color: inherit;
    opacity: 0.7;
    }
    .flickr_badge_image:hover a img{
    border-color: #e10d0d;
    }
    .teams article .article-title, .post-slider .post-slider-list .entry-title h4 i{
    background-color: #e10d0d;
    color: #FFFFFF;
    }
    body.videotouch .wp-playlist-light .wp-playlist-playing, body.videotouch .mejs-controls .mejs-time-rail .mejs-time-current{
    background-color: #e10d0d;
    color: #FFFFFF;
    }
    .product-view .overlay-effect .entry-overlay > a{
    color: #a0a8ab;
    background-color: #ECF0F1;
    }
    .product-view .overlay-effect .entry-overlay > a:hover{
    color: #b5c0c4;
    background-color: #eff2f4;
    }
    .product-view .overlay-effect .entry-overlay > a:not(.entry-view-more){
    color: #FFFFFF;
    background-color: #e10d0d            }
    .product-view .overlay-effect .entry-overlay > a:not(.entry-view-more):hover{
    color: #f5f6f7 !important;
    background-color: #BA2121 !important;
    }
    .ts-features-default section .readmore a:after,
    .ts-features-fullbg footer .readmore{
    background-color: #e10d0d;
    }
    .ts-features-fullbg footer .readmore a{
    color: #FFFFFF;
    }
    .ts-features-default header .article-header-content .image-container{
    color: #FFFFFF;
    }
    .ts-features-fullbg article:hover header .article-header-content .image-container{
    color: #e10d0d;
    }
    .block-title-lineariconcenter .block-title-container i[class^="icon"]{
    color: #e10d0d;
    }
    .ts-features-default section .readmore a:hover span{
    color: #FFFFFF;
    }
    .ts-features-fullbg header .article-header-content .image-container{
    box-shadow: inset 0 0 0 10px #FFFFFF;
    }
    .ts-features-fullbg article:hover header .article-header-content .image-container{
    box-shadow: inset 0 0 0 3px #FFFFFF;
    }
    .ts-features-fullbg header .article-header-content .image-container:after{
    background-color: #FFFFFF;
    }
    .carousel-wrapper ul.carousel-nav > li:hover {
    background-color: #BA2121;
    color: #f5f6f7;
    }
    .ts-clients-view .carousel-wrapper ul.carousel-nav > li:hover {
    background-color: #BA2121;
    color: #f5f6f7;
    }
    .ts-clients-view div[data-tooltip]:hover:before {
    background-color: rgba(225,13,13, 0.8);
    color: #FFFFFF;
    }
    .ts-clients-view div[data-tooltip]:hover:after {
    border-top-color: rgba(225,13,13, 0.8);
    }
    .ts-header-menu .main-menu li a:hover,
    .ts-sticky-menu .main-menu li a:hover,
    .ts-mobile-menu .main-menu li a:hover {
    color: #E10D0D;
    }
    .ts-header-menu .main-menu > .menu-item-has-children ul li > a:before,
    .ts-sticky-menu .main-menu > .menu-item-has-children ul li > a:before,
    .ts-mobile-menu .main-menu > .menu-item-has-children ul li > a:before{
    background-color: #f3f3f3;
    }
    .ts-header-menu .main-menu li > a,
    .ts-sticky-menu .main-menu li > a,
    .ts-mobile-menu .main-menu li > a {
    color: #616669;
    }
    .ts-header-menu .sub-menu,
    .ts-sticky-menu .sub-menu,
    .ts-mobile-menu .sub-menu {
    background-color: #FFF;
    }
    .ts-mega-menu .main-menu .ts_is_mega_div .title{
    color: #616669;
    }
    .ts-mega-menu .main-menu .ts_is_mega_div .title:after,
    .ts-mobile-menu .main-menu .ts_is_mega_div .title:after{
    background-color: #e10d0d;
    }
    .rsDefault .rsArrowIcn,
    .rsDefault .rsThumbsArrowIcn {
    background-color: rgba(225,13,13, 0.7);
    }
    .rsDefault .rsArrowIcn:hover,
    .rsDefault .rsThumbsArrowIcn:hover {
    background-color: #BA2121;
    }
    .rsDefault .rsBullet span {
    background-color: rgba(225,13,13, 0.3);
    }
    .rsDefault .rsBullet.rsNavSelected span {
    background-color: #e10d0d;
    }
    .ts-header-menu .main-menu .current-menu-item > a,
    .ts-header-menu .main-menu .current-menu-parent > a,
    .ts-header-menu .main-menu .current-menu-ancestor > a,
    .ts-mobile-menu .main-menu .current-menu-item > a,
    .ts-mobile-menu .main-menu .current-menu-parent > a,
    .ts-mobile-menu .main-menu .current-menu-ancestor  > a,
    .ts-sticky-menu .main-menu .current-menu-item > a,
    .ts-sticky-menu .main-menu .current-menu-parent > a,
    .ts-sticky-menu .main-menu .current-menu-ancestor  > a{
    color: #e10d0d !important;
    }
    .sub-menu li a:hover{
    color: #E10D0D;
    }
    .testimonial-item .author-position{
    color: #d6cbcb;
    }
    .sf-default li:after{
    background: #e10d0d;
    }
    .post-title-meta, .ts-big-posts .big-post-meta > ul > li, .ts-grid-view .entry-meta > ul > li, .views-delimiter{
    color: #d6cbcb;
    }
    .tags-container a.tag, .tags-container a[rel="tag"], .ts-list-view-tags a[rel="tag"]{
    background-color: #e10d0d;
    color: #FFFFFF;
    }
    .tags-container a.tag:hover, .tags-container a[rel="tag"]:hover, .ts-list-view-tags a[rel="tag"]:hover{
    background-color: #ECF0F1;
    color: #b5c0c4;
    }
    .ts-thumbnail-view .thumb-post-categories a, .ts-grid-view .grid-post-categories a, .ts-big-posts .big-post-categories a, .post-title-meta .post-categories a, .ts-super-posts .ts-super-posts-categories a{
    color: #e10d0d;
    }
    .ts-thumbnail-view .thumb-post-categories a:hover, .ts-grid-view .grid-post-categories a:hover, .ts-big-posts .big-post-categories a:hover, .post-title-meta .post-categories a:hover, .ts-super-posts .ts-super-posts-categories a:hover{
    color: #e10d0d;
    }
    .user-profile-page .edit-post-link{
    color: #FFFFFF;
    background-color: #e10d0d;
    }
    .user-profile-page .edit-post-link:hover{
    color: #f5f6f7;
    background-color: #BA2121;
    }
    #searchbox input[type="text"]:focus{
    border-bottom-color: #e10d0d;
    }
    #searchbox input.searchbutton:hover + i.icon-search{
    color: #e10d0d;
    }
    .search-no-results .searchpage,
    .search .attention{
    color: #e10d0d;
    }
    .video-single-resize:hover b{
    color: #e10d0d;
    }
    .search-results .searchcount{
    color: #d6cbcb;
    }
    #commentform .form-submit input[type="submit"]{
    color: #FFFFFF;
    }
    .post-navigator ul li a div{
    color: #e10d0d;
    }
    .widget-title:after {
    background: #e10d0d;
    display: block;
    content: '';
    width: 30px;
    height: 2px;
    margin-top: 10px;
    }
    .post-navigator ul li a:hover div{
    color: #BA2121;
    }
    .callactionr a.continue, .commentlist > li .comment .comment-reply-link{
    background-color: #e10d0d;
    color: #FFFFFF;
    }
    .callactionr a.continue:hover{
    background-color: #ECF0F1;
    color: #a0a8ab;
    }
    .block-title-lineafter .block-title-container .the-title:after{
    background-color: #e10d0d;
    }
    .ts-grid-view .entry-meta a, .ts-big-posts .big-post-meta a, .post-author-box > .author-title{
    color: #e10d0d;
    }
    .ts-list-view .readmore{
    background-color: #e10d0d;
    }
    .ts-super-posts .title-holder{
    background-color: #e10d0d;
    }
    .ts-thumbnail-view .item-hover{
    /*background-color: rgba(225,13,13, 0.8);*/
    }
    .ts-thumbnail-view .item-hover span, .ts-grid-view .item-hover span{
    color: #e10d0d;
    }
    .ts-grid-view .item-hover{
    background-color: rgba(236,240,241, 0.8);
    }
    .ts-grid-view .readmore:hover{
    color: #e10d0d;
    }
    .ts-filters li a.active{
    background-color: #e10d0d;
    color: #FFFFFF;
    }
    .ts-filters li a.active:after{
    border-top-color: #e10d0d;
    }
    .ts-filters li a:not(.active):hover{
    color: #ECF0F1;
    }
    .post-navigator ul li a{
    border-top-color: #e10d0d;
    }
    .post-navigator ul li a:hover{
    border-top-color: #ECF0F1;
    }
    #commentform .form-submit input[type="submit"]{
    background-color: #e10d0d;
    }
    .listed-two-view .item-hover, .ts-big-posts .item-hover{
    background-color: rgba(225,13,13, 0.8);
    }
    .block-title-linerect .block-title-container:before{
    background-color: #e10d0d;
    }
    .teams article:hover .image-holder img{
    border-color: #e10d0d;
    }
    .teams article:hover .article-title{
    border-color: #ECF0F1;
    }
    .delimiter.iconed:before{
    color: #e10d0d;
    }
    .block-title-leftrect .block-title-container:before{
    background-color: #e10d0d;
    }
    a.tag:hover, a[rel="tag"]:hover{
    color: #e10d0d;
    }
    input.contact-form-submit{
    background: #e10d0d;
    }
    .dl-menuwrapper button:hover,
    .dl-menuwrapper button.dl-active,
    .dl-menuwrapper ul {
    background: #e10d0d;
    }
    .dl-menuwrapper button{
    background: #ECF0F1;
    }
    .post-slider .post-slider-list .entry-category ul li a, .post-slider .main-entry .entry-category a{
    color: #e10d0d;
    }
    .post-slider .main-entry .entry-content .entry-title:hover{
    border-right-color: #e10d0d;
    }
    .tweet-entry .icon-twitter{
    color: #e10d0d;
    }
    /* Set the background and text color of the view articles */
    .ts-pagination ul .page-numbers{
    background: #f7f7f7;
    color: #343434;
    }
    .ts-pagination ul .page-numbers.current{
    background: #e10d0d;
    color: #FFFFFF;
    }
    .ts-pagination ul .page-numbers:hover{
    background: #ECF0F1;
    }
    .views-read-more{
    background: #e10d0d;
    color: #FFFFFF !important;
    }
    #searchform input[type="submit"]{
    color: #3f4549;
    }
    .ts-pricing-view article > header:after{
    border-top-color: #e10d0d;
    }
    .ts-pricing-view article > header, .ts-pricing-view article > footer a.btn{
    background: #e10d0d;
    color: #FFFFFF;
    }
    .slyscrollbar .handle{
    background: #e10d0d;
    }
    .touchsize-likes .touchsize-likes-count:before, .post-meta .post-meta-likes span.touchsize-likes-count:before{
    color: #e10d0d;
    }
    .touchsize-likes.active .touchsize-likes-count:before, .post-meta .post-meta-likes .touchsize-likes.active span.touchsize-likes-count:before{
    color: #BA2121;
    }
    .ts-grid-view article .entry-footer .btn-play-video:hover > i{
    background: #e10d0d;
    color: #FFFFFF;
    }
    .btn:hover,
    .btn:active,
    .btn:focus{
    border-color: #e10d0d;
    }
    .btn.active{
    background-color: #e10d0d;
    color: #FFFFFF;
    }
    .purchase-btn{
    color: #ECF0F1;
    }
    .purchase-btn:hover{
    background: #ECF0F1;
    }
    .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background: #e10d0d;
    }
    .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover, .mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
    background: #BA2121;
    }
    .mosaic-view article section{
    /*background: rgba(225,13,13, 0.7);*/
    }
    .nav-tabs .tab-item.active > a:before,
    .nav-tabs .tab-item.active > a:hover:before,
    .nav-tabs .tab-item.active > a:focus:before{
    border-color: #e10d0d;
    }
    .ts-tags-container > a:after,
    a.tag:hover, a[rel="tag"]:hover,
    article .default-effect .overlay-effect .view-more > span:before,
    article .default-effect .overlay-effect .view-more > span:after{
    background: #e10d0d;
    }
    article.type-post .page-title .touchsize-likes .touchsize-likes-count{
    color: #d6cbcb;
    }
    .ts-thumbnail-view article h3.title:after{
    background: #e10d0d;
    }
    .ts-user-login-modal .modal-title{
    color: #3f4549;
    }
    #ts-timeline .timeline-entry:before, .ts-grid-view article .entry-footer .btn-grid-more:hover > i{
    background-color: #e10d0d;
    }
    .ts-video-carousel .nav-arrow .nav-icon{
    color: #e10d0d;
    }
    body.single-video article.type-video .post-content .content-cortina{
    background: -moz-linear-gradient(top, rgba(255,255,255, 0) 0%, rgba(255,255,255, 0.7) 41%, rgba(255,255,255, 1) 83%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255, 0)), color-stop(41%,rgba(255,255,255, 0.7)), color-stop(83%,rgba(255,255,255, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255, 0) 0%,rgba(255,255,255, 0.7) 41%,rgba(255,255,255, 1) 83%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255, 0) 0%,rgba(255,255,255, 0.7) 41%,rgba(255,255,255, 1) 83%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255, 0) 0%,rgba(255,255,255, 0.7) 41%,rgba(255,255,255, 1) 83%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255, 0) 0%,rgba(255,255,255, 0.7) 41%,rgba(255,255,255, 1) 83%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }
    h1{font-size: 52px}
    h2{font-size: 44px}
    h3{font-size: 38px}
    h4{font-size: 32px}
    h5{font-size: 26px}h1, h2, h3, h4, h5, h6  {
    font-family: "Fira Sans";
    font-weight: 700;
    font-style: normal;
    }            body{font-size: 14px;}body {
    font-family: "Fira Sans";
    font-weight: normal;
    font-style: normal;
    }            .ts-behold-menu, .ts-behold-menu .main-menu > .menu-item-has-children > a:after, .main-menu li{font-size: 14px;}.ts-behold-menu, .main-menu li {
    font-family: "Fira Sans";
    font-weight: normal;
    font-style: normal;
    }
    .ts-sticky-menu{
    background-color: #FFFFFF;
    }
    .ts-sticky-menu .sf-menu li ul{
    background-color: #FFFFFF;
    }
    .ts-sticky-menu .container .sf-menu li a, .ts-sticky-menu .container .sf-menu li, .ts-sticky-menu .sf-menu{
    color:#444444;}
    .ts-sticky-menu .container .sf-menu li.current-menu-item > a{
    color: #e10d0d;
    }            /* --- Custom CSS Below ----  */
    #menu-main-header li#menu-item-195:after {
    content: '>';
    position: absolute;
    left: 0;
    margin-left: -20px;
    top: 16px;
    background: #E10D0D;
    padding: 0 7px;
    color: #FFF;
    border-radius: 50%;
    -webkit-transition: transform .2s ease-out;
    transition: transform .2s ease-out;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: 99999;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: bounce;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 99999;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
    }
    @keyframes bounce {
    0% {
    }
    50% {
    transform: translateX(15px);
    -webkit-transform: translateX(15px);
    }
    100% {
    transform: translateY(0);
    -webkit-transform: translateX(5px);
    }
    }
    @-webkit-keyframes bounce {
    0% {
    }
    50% {
    transform: translateX(15px);
    -webkit-transform: translateX(15px);
    }
    100% {
    transform: translateX(0);
    -webkit-transform: translateX(5px);
    }
    }
    body.page-id-931 .ts-custom-menu-colors .main-menu > li > a{color: #FFF !important}
    </style>
