<div class="pp_pic_holder pp_default" style="top: 117.5px; left: 279px; display: block; width: 882px;">
  <div class="ppt" style="opacity: 1; display: block; width: 850px;">&nbsp;</div>
  <div class="pp_top">
    <div class="pp_left"></div>
    <div class="pp_middle"></div>
    <div class="pp_right"></div>
  </div>
  <div class="pp_content_container">
    <div class="pp_left">
      <div class="pp_right">
        <div class="pp_content" style="background-color: transparent; height: 516px; width: 850px; background-position: initial initial; background-repeat: initial initial;">
          <div class="pp_loaderIcon" style="display: none;">
            <i class="icon-arrows-ccw animate-spin"></i>
          </div>
          <div class="pp_fade" style="display: block;">
            <div class="pp_hoverContainer" style="height: 480px; width: 850px; display: none;">
              <a class="pp_next" href="#">Next</a>
              <a class="pp_previous" href="#">previous</a>
            </div>
            <div id="pp_full_res">
              
            </div>
            <div class="pp_details" style="width: 850px;">
              <div class="pp_nav">
                <a href="#" class="pp_play">Play</a>
                <a href="#" class="pp_arrow_previous">
                  <i class="icon-left-open-big"></i>
                </a>
                <p class="currentTextHolder">1/12</p>
                <a href="#" class="pp_arrow_next">
                  <i class="icon-right-open-big"></i>
                </a>
              </div>
              <span class="ppt-new-title" style="color:#fff;"></span>
              <p class="pp_description" style="display: none;"></p>
              <a href="#" title="" class="pp_rf_more_info animsition-link">&nbsp;
                <i class="undefined"></i>
              </a>
              <a class="pp_close" href="#">
                <i class="icon-cancel"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pp_bottom">
    <div class="pp_left"></div>
    <div class="pp_middle"></div>
    <div class="pp_right"></div>
  </div>
</div>
<div class="pp_overlay" style="opacity: 0.8; height: 1244px; width: 1440px; display: block;"></div>
