{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}
<div class="row">

    <div class="span9 alpha">
	<div class="entry-container">
	    <article class="entry hentry">
		<header>
		    <a href="" class="entry-title"><h2>{{page.title}}</h2></a>
		    <div class="author-details">Last Update: {{page.date|strftime('%B %d, %Y')}}</div>
		</header>

		{{page.content}}

	    </article>

	    <!--
	    In case any image breaks the theme
	    I was going to use :after but it didn't quite work for me, maybe next time-->
	    <div class="clearfix"></div>




	</div>
    </div>
</div>
{% endblock %}
