<!-- Sidebar -->
<aside class="span3 {%if articles_page%}remove-bs-margin{%endif%} hidden-phone hidden-tablet">

    <div class="widget-external-links widget">
	<h3 class="widget-header">External Links</h3>
	<div class="widget-content">
	    <ul class="widget-list">
		{%if LINKS %}
		{% for name, link in LINKS %}
		<li class="widget-list-item"><a href="{{ link }}">{{name}}</a></li>{%endfor%} {%endif%}
	    </ul>
	</div>
    </div>
		{%if articles %}
    <div class="widget-external-links widget">
        <h3 class="widget-header">Recent Articles</h3>
	<div class="widget-content">
	    <ul class="widget-list">
		{%for article in articles[:10] %}
		<li class="widget-list-item"><a href="{{SITEURL}}/{{article.url}}" title="Read: {{article.title|striptags}}">{{article.title}}</a></li>
		{%endfor%}
	    </ul>
	</div>
    </div>
    {%endif%}
    <div class="widget-archive-category widget">
	<h3 class="widget-header">Category</h3>
	<div class="widget-content">
	    <ul class="widget-list">
		{% for cat, articles in categories %}
		<li class="widget-list-item"><a href="{{ SITEURL }}/{{cat.url}}">{{ cat }}.<span>{{ articles|length }}</span></a></li>

		{%endfor%}
	    </ul>
	</div>
    </div>
    <div class="widget">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- dgzen he -->
	<ins class="adsbygoogle"
	    style="display:inline-block;width:300px;height:600px"
	    data-ad-client="ca-pub-4442880234515975"
	    data-ad-slot="1240455063"></ins>
	<script>
	    (adsbygoogle = window.adsbygoogle || []).push({});
	</script>
    </script>
</div>
		</aside>

